
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background: rgb(236, 237, 253);

}

input {
    padding: 5px;
    margin-top: 3px;
    /* outline: none; */
    border: 1px solid rgb(65, 65, 65);
    /* display: inline-block; */
    /* width: 100%; */
    background-color: rgb(255, 189, 251);
}

#login, #signup {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px black;
    padding: 4px;
    margin-right: 2px;
}

#login:active, #signup:active {
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px black;

    color: white;

}


h4 {
    margin: 0px 0px 10px 0;
}

.feed {
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    text-align: left;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

.tweet {
    /* background: rgba(147, 152, 184, 0.26); */
    background: rgb(255, 255, 255);
    padding: 12px 30px 12px 40px;
    font-size: 16px;
    font-weight: 500;
    width: 550px;
    color: rgb(40, 40, 48);
    transition: all 0.1s ease-in;
    margin-bottom: 20px;
    /* border: 1px solid rgb(24, 24, 24); */
    box-shadow: 0px 2px 4px #cf67e255;
}

.tweet:hover {
    background-color: rgb(31, 28, 59);
    color: white;



    /* background-color: rgb(194, 255, 25); */
   
  }



h1{
    font-size: 60px;
    margin: 0 auto 0 auto;
    padding: 20px 0 18px 0;
    width: 100%;
    display: inline-block;
    text-shadow: 0px 4px 6px rgba(24, 11, 78, 0.678);
    background-color: rgb(33, 31, 53);
    color: white;
}


.updatePanel {
    margin: 0 auto;
    padding: 0px 0 40px 0;

}

.timestamp {
    color: rgb(131, 131, 131);
    font-size: 12px;
    margin-bottom: 0;
    font-style: italic;
    text-align: right;
    margin-right: -15px;
}


textarea{
    height: 4em;
    width:100%;
    margin: 0;
    border: none;
      border-bottom: solid 1px #8792b8bb;
    -webkit-box-sizing: content-box;
    /* -moz-transition: all 1s; */
    -webkit-transition: all 1s;
      transition: all 1s;
}
textarea:focus{
    height: 10em;

}

textarea:active{
    height: 10em;

}

#twitterText {
    width: 100%;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    /* border: none; */
    box-sizing: border-box;
    padding: 40px 50px 40px 50px;
    resize: none;
    scrollbar-color: light;
    /* background: rgb(233,189,229); */
    background: linear-gradient(246deg, #f5c6fb 24%, #a798ff 100%);
    color:  white;


}


#tweetButton {
    width: 140px;
    height: 40px;
    background: rgb(115, 93, 189);
    color: white;
    border: none;
    border-radius: 4px;

}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#tweetButton:hover{
    background: rgb(30, 36, 70);
    outline: none;
    transition: all .35ms ease-in-out;

}

#tweetButton:active {
    
    transform: translate(1px, 1px);
    outline: none;
}

#tweetButton:focus {
    outline: none;

}


a {
    text-decoration: none;
}



.tweetUser {
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 129, 228);
    width: 100%;
    transition: all .5ms ease-in-out;
}

.tweetUser:hover {
    font-style: oblique;
    font-weight: bold;

}




.fas {
    color:#5a6386;
    font-size: 24px;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
}

#refreshlink, #back {
    text-align: right;
    margin-bottom: 10px;
    /* vertical-align: middle; */
}

footer {
    background: rgb(19, 19, 19);
    color: white;
    margin-top: 40px;
    margin-bottom: -100%;
    padding: 4px;
}

footer a {
    color: rgb(248, 175, 242);
}